body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}
.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}


div.p-sidebar-mask {
  position: absolute !important;
}


 .mr-1 {
   margin-right: 0.25rem !important;
 }
.bs-icon-sm {
  --bs-icon-size: 1rem;
}
.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size)*2);
  height: calc(var(--bs-icon-size)*2);
  color: var(--bs-primary);
}

#map {
  height: 100%;
}
div.p-button.p-component{
 padding: 0.94rem
}

.p-sidebar-content, .p-dialog-content, .p-multiselect-items-wrapper {
  overflow-y: auto;

  /* hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* hide scrollbar for chrome, safari and opera */
.p-sidebar-content::-webkit-scrollbar, .p-dialog-content::-webkit-scrollbar , .p-multiselect-items-wrapper::-webkit-scrollbar{
  display: none;
}

.p-sidebar-content p, .p-dialog-content, .p-multiselect-items-wrapper  {
  color: #fff;
}