<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <meta charset="ISO-8859-1" />
    <title>Sign Up</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container text-center">
      <div>
        <h1>User Registration - Sign Up</h1>
      </div>
      <form
        th:action="@{/process_register}"
        th:object="${user}"
        method="post"
        style="max-width: 600px; margin: 0 auto"
      >
        <div class="m-3">
          <div class="form-group row">
            <label class="col-4 col-form-label">E-mail: </label>
            <div class="col-8">
              <input
                type="email"
                th:field="*{userMail}"
                class="form-control"
                required
              />
            </div>
          </div>
          <div class="m-3">
            <div class="form-group row">
              <label class="col-4 col-form-label">User Name: </label>
              <div class="col-8">
                <input
                  type="text"
                  th:field="*{userName}"
                  class="form-control"
                  required
                />
              </div>
            </div>

          <div class="form-group row">
            <label class="col-4 col-form-label">Password: </label>
            <div class="col-8">
              <input
                type="password"
                th:field="*{userPassword}"
                class="form-control"
                required
                minlength="6"
                maxlength="10"
              />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-4 col-form-label">First Name: </label>
            <div class="col-8">
              <input
                type="text"
                th:field="*{userFirstName}"
                class="form-control"
                required
                minlength="2"
                maxlength="20"
              />
            </div>
          </div>

          <div class="form-group row">
            <label class="col-4 col-form-label">Last Name: </label>
            <div class="col-8">
              <input
                type="text"
                th:field="*{userLastName}"
                class="form-control"
                required
                minlength="2"
                maxlength="20"
              />
            </div>
          </div>

          <div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </div>
        </div>
      </form>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>